:root {
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --border-radius: 0.375rem;
    --color-bg: #bebebe;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #bebebe;
}

.hide {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}


/* Espacios */
.my-2{
    /* Rem es una unidad relativa 1rem=16px */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Menú de Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar img {
    width: 80px;
}

.img-fluid {
    width: 100%; /*100% permitira que se respete el ancho del contenedor*/
}
.main-nav {
    margin-top: 10px;
    list-style: none; 
    padding-left: 0;
    align-items: left;
}
.main-nav__item {
    display: inline-block; /*Cambia a horizontal los elementos de la lista*/
    padding: 10px;
    font-weight: bold;
}
.main-nav__item a {
    color: #2B5015;
    text-decoration: none;
    font-size: 1.3rem;
}

.main-nav__item a:hover {
    color: #FECE00;

}

/* Filtros */
.form-search {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-secondary);
    padding: 1rem;
}

.form-search i {
    opacity: 0.5;
}

.form-search input {
    border: none;
    outline: none; /*Retira el borde negro del input al momento de hacer click*/
    margin-left: 1rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    border-radius: var(--bo);
}

/* Cards */
.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /*Permite repetir 4  veces de un mismo tamaño(1fr)*/
    gap: 2rem; /*Espacion entre grid*/
    justify-items: stretch;
}


.grid3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /*Permite repetir 4  veces de un mismo tamaño(1fr)*/
    gap: 1rem; /*Espacion entre grid*/
    display: flex;
    justify-content: space-between;
}
.grid4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /*Permite repetir 4  veces de un mismo tamaño(1fr)*/
    gap: 1rem; /*Espacion entre grid*/
    display: flex;
    justify-content: space-between;
}

.card {
    overflow: hidden;/*Oculta el excedente de texto de la caja*/
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    justify-content: center;
}

.card img { /*Borde superior redondeado de imagen*/
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: 7rem;
}



.card-content h4 { /*Espaciado del texto de card */
    padding: 1rem;
    text-align: center;
}

.card-content p { /*Espaciado del texto de card */
    padding: 1rem;
    text-align: center;
}

/*Slide show principal*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }